.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
margin-top: 40px;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}